<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905578523631-p6nrl4ghnqefqk6l2t384f5vnor77irp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905578523631-p6nrl4ghnqefqk6l2t384f5vnor77irp</string>
	<key>API_KEY</key>
	<string>AIzaSyDqW1UqG99M2RhKYNNdnzf-QDurySaEuXI</string>
	<key>GCM_SENDER_ID</key>
	<string>905578523631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.RapidThesisQ</string>
	<key>PROJECT_ID</key>
	<string>realproject-10077</string>
	<key>STORAGE_BUCKET</key>
	<string>realproject-10077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905578523631:ios:aa5193bbe5bcb834</string>
	<key>DATABASE_URL</key>
	<string>https://realproject-10077.firebaseio.com</string>
</dict>
</plist>